<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>RLA</title>
        <link rel="stylesheet" type="text/css" href="<%= URLBASE %>/views/static/index.css"/>
        <link rel="shortcut icon" href="<%= URLBASE %>/views/static/icon/icon-marca.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-slate-950">

        <div class="max-w-sm mx-auto bg-white shadow py-5 px-6">
              <div>
                <label for="produto" class="block text-sm font-medium text-slate-700">Nome Produto</label>
                <div class="mt-1">
                  <input type="text" name="nome" id="produto" class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none">
                </div>
              </div>
              <div>
                <label for="produto" class="block text-sm font-medium text-slate-700">Descrição</label>
                <div class="mt-1">
                  <input type="text" name="descricao" id="descricao" class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none">
                </div>
              </div>
              <div class="mt-6">
                <label for="password" class="block text-sm font-medium text-slate-700">Arquivo</label>
                <div class="mt-1">
                  <input type="file" name="file" id="file" multiple="multiple" onchange="newInput(this)" class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none">
                </div>
                <ul id="dp-files"></ul>
              </div>
              <div class="mt-6 text-right">
                <input type="button" value="Salvar" id="salvar" class="bg-sky-500 hover:bg-sky-700 px-5 py-2.5 text-sm leading-5 rounded-md font-semibold text-white">
              </div>
          </div>

          <div id="conteudo-pesquisa" class="w-full absolute">
            <div id="conteudo-html" class="mt-16 p-7">
                
            </div>
          </div>
        <script>
          const DIRETORIO = "<%= URLBASE %>";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="text/javascript" src="<%= URLBASE %>/views/static/global.js"></script>
        <script type="text/javascript" src="<%= URLBASE %>/views/static/upload.js"></script>
    </body>
</html>